<agm-map [latitude]="lat" 
  [longitude]="lng"
  [streetViewControl]= "false" 
  [zoomControl]="false" 
  (mapClick)="clickedMap($event)">

  <agm-polyline >
    <agm-polyline-point *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng">
    </agm-polyline-point>
  </agm-polyline>

  <agm-marker 
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat" 
    [longitude]="m.lng"
    [markerDraggable] = true
    (dragEnd)= "finalMarkerPosition(m,$event)" >
    
    <agm-info-window>
      <strong>{{m.name}}</strong>
      <br/>
      <a class="delete" (click)="deleteMarker(m)">Delete</a>
    </agm-info-window>
  </agm-marker> 
  
</agm-map>

