  



<md-sidenav-container class="main-container">
  <md-sidenav #sidenav class="sidenav">
    <md-card class="example-card sidenav-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>FitsMind Champions Route</md-card-title>
    <md-card-subtitle>Be the game changer</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <md-list>
      <h3 md-subheader>WayPoints</h3>
      <md-divider></md-divider>
      <md-list-item *ngFor="let wayPoint of wayPoints">
        <i class="material-icons">&#xE566;</i>
        <h4 md-line>{{wayPoint.name}}</h4>
        <p md-line> {{wayPoint.lat}} , {{wayPoint.lng}}</p>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="showAlert()">EXPORT AS JSON</button>
  </md-card-actions>
</md-card>
  </md-sidenav>

  <div class="sidenav-content">
    <ng-map></ng-map>
    <button class="sidenav-opener" type="button" md-button (click)="sidenav.open()" md-fab>
      <i class="material-icons purple">featured_play_list</i>
    </button>
  </div>

</md-sidenav-container>